architecture/n8n-workflow.json
{
  "name": "claude workflow",
  "nodes": [
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        224,
        0
      ],
      "id": "7a6b8b9c-5ede-474e-9916-29ce498746d2",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Intent : {{ $('Webhook').item.json.body.intent }}\nFile Text : {{ $json.text }}",
        "options": {
          "systemMessage": "=You are a contract analysis orchestrator. Your job is to analyze the user message,\ndetect the user's intent, identify the contract type, and call the correct tools\nin the correct order.\n\nSTEP 1 — DETECT INTENT from the user message:\n- \"key terms\", \"extract terms\", \"what are the terms\", \"summarize terms\", \"list terms\" → intent = \"key_term_extraction\"\n\nSTEP 2 — DETECT CONTRACT TYPE from the contract text:\n- \"Non-Disclosure Agreement\", \"NDA\", \"confidential information\", \"disclosing party\" → contract_type = \"NDA\"\n- \"Master Services Agreement\", \"MSA\", \"statement of work\", \"deliverables\", \"service fees\" → contract_type = \"MSA\"\n- If neither → contract_type = \"UNKNOWN\"\n\nSTEP 3 — CALL TOOLS based on intent:\n\nIF intent = \"key_term_extraction\":\n→ CALL contract_playbook_agent — Pass: contract_type, intent. Wait for response.\n→ THEN CALL key_term_extraction_agent — No extra input needed, reads from memory. Wait for response.\n→ DO NOT call contract_risk_agent.\n\n\n\nFINAL RESPONSE RULES:\n- Do NOT return the playbook rules as your final response.\n- Do NOT return intermediate tool outputs.\n- Wait until ALL required tools have completed.\n- Your final response must ONLY be the output from the LAST agent that ran:\n- For key_term_extraction → return the key terms extraction output\n- Do not ask follow-up questions. Return the final result immediately.\n\nWhen all required tools have been called and results are in memory,\ncompile the final output and return it immediately as your response.\nDo NOT ask follow-up questions. Do NOT wait for more input.\nThe workflow ends when you return the final result.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        448,
        0
      ],
      "id": "a81992e7-27f6-4999-a93b-cf2367eb8fb7",
      "name": "Orchestrator Agent"
    },
    {
      "parameters": {
        "toolDescription": "Fetches the contract playbook rules from the database based on contract type and stores them in shared memory. ALWAYS call this tool FIRST. Pass contract_type and intent.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "You are the Contract Playbook Agent. Your only job is to retrieve the correct \nplaybook rules for the given contract type from the database and write a clear \nstructured summary of those rules into shared memory.\n\nYOUR PROCESS:\n1. Use the fetch_playbook tool to query the contract_playbook table, filtered \n   by the provided contract_type.\n2. Write a structured summary to memory in this format:\n\n--- PLAYBOOK RULES FOR [CONTRACT_TYPE] ---\nIntent: [intent]\nRules retrieved: [count]\n\n- Rule Name: [key_term_name]\n  Label: [key_term_label]\n  Description: [key_term_description]\n  Risk Weight: [risk_weight]\n\n--- END PLAYBOOK RULES ---\n\n3. Respond with: \"Playbook loaded for [contract_type]. [N] rules stored in memory.\"\n\nRULES:\n- Do not extract terms. Do not analyze risk.\n- If no rules found, write: \"No playbook rules found for [contract_type].\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        352,
        416
      ],
      "id": "e1552913-4a7e-4d17-a333-f475e7140908",
      "name": "contract_playbook_agent"
    },
    {
      "parameters": {
        "toolDescription": "Extracts key terms from the contract. Reads contract text and playbook rules from shared memory. Call AFTER contract_playbook_agent. No input needed.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are the Key Term Extraction Agent. Extract key terms from the contract\nusing the playbook rules already stored in shared memory as your guide.\n\nYOUR PROCESS:\n1. Read memory to find:\n   a. The contract text (provided by the orchestrator)\n   b. The playbook rules (written by the Playbook Agent) — this contains\n      the list of key terms you need to extract\n\n2. For EACH rule in the playbook rules, extract its value from the contract.\n   The rule name is what to look for, the description tells you what it means.\n\n3. Return structured JSON with:\n   - contract_type: string (NDA/MSA)\n   - parties: array of strings\n   - effective_date: string\n   - key_terms: array of objects with \"label\" and \"value\" fields\n\nRULES:\n- The list of key terms comes ONLY from the playbook rules in memory.\n- Do not hardcode any term names — use whatever terms the Playbook Agent loaded.\n- Do not add terms that are not in the playbook.\n- Do not score or flag risks.\n- If a term is not found in the contract use \"Not specified\" as the value.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        1152,
        208
      ],
      "id": "ce234991-e645-4534-82c2-7a2e91b1354c",
      "name": "key_term_extraction_agent"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Fetches all playbook rules from the contract_playbook table filtered by contract_type. Returns key_term_name, key_term_label, key_term_description, risk_weight for each row.\n\n",
        "operation": "getAll",
        "tableId": "contract_playbook",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "contract_type",
              "condition": "eq",
              "keyValue": "={{ $fromAI('contract_type', 'The contract type to fetch playbook rules for', 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        496,
        720
      ],
      "id": "b440e677-7fb3-469f-bdb0-68af2f7cb14e",
      "name": "fetch_playbook",
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Lease Compliance Reporting"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ \"test_session\" }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        736,
        800
      ],
      "id": "e10a817e-03df-446d-b74b-71134482a0ad",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -240,
        416
      ],
      "id": "37f791e9-55f6-44ad-bb35-00a01fd06d20",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7d90ba9a-649b-468e-95b5-0984450b83d8",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "513db9e2-c4c8-4d0c-ab8d-cbf620bf732c",
      "name": "Webhook",
      "webhookId": "e733e458-df38-4929-b2b3-e5f134c9d891"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1248,
        0
      ],
      "id": "7732840a-44f4-4df1-8fa5-4fec7589a913",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "contract_playbook_agent": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "key_term_extraction_agent": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "fetch_playbook": {
      "ai_tool": [
        [
          {
            "node": "contract_playbook_agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "key_term_extraction_agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "contract_playbook_agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "contract_playbook_agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "key_term_extraction_agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrator Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "184bd5f9-22d5-46e6-89fe-f8816ab3aaff",
  "id": "OZ3ZFPr3JALBuijU",
  "tags": []
}
