architecture/n8n-workflow.json
{
  "name": "claude workflow",
  "nodes": [
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        5216,
        2560
      ],
      "id": "4314278b-30d3-42d0-8d35-d35bb48727df",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Intent : {{ $('Webhook').item.json.body.intent }}\nFile Text : {{ $json.text }}",
        "options": {
          "systemMessage": "=You are a contract analysis orchestrator. Your job is to analyze the user message,\ndetect the user's intent, identify the contract type, and call the correct tools\nin the correct order.\n\nSTEP 1 — DETECT INTENT from the user message:\n- \"key terms\", \"extract terms\", \"what are the terms\", \"summarize terms\", \"list terms\" → intent = \"key_term_extraction\"\n\nSTEP 2 — DETECT CONTRACT TYPE from the contract text:\n\n- \"Non-Disclosure Agreement\", \"NDA\", \"confidential information\", \"disclosing party\", \"receiving party\" \n  → contract_type = \"NDA\"\n\n- \"Master Services Agreement\", \"MSA\", \"statement of work\", \"deliverables\", \"service fees\", \"service provider\" \n  → contract_type = \"MSA\"\n\n- \"Lease Agreement\", \"Lease Contract\", \"Lessor\", \"Lessee\", \"Premises\", \"Rent\", \"Lease Term\", \n  \"Commencement Date\", \"Renewal Option\", \"Right-of-Use Asset\", \"Lease Liability\" \n  → contract_type = \"LEASE\"\n\n- If none match \n  → contract_type = \"UNKNOWN\"\n\nSTEP 3 — CALL TOOLS based on intent:\n\nIF intent = \"key_term_extraction\":\n→ CALL contract_playbook_agent — Pass: contract_type, intent. Wait for response.\n→ THEN CALL key_term_extraction_agent — No extra input needed, reads from memory. Wait for response.\n→ DO NOT call contract_risk_agent.\n\n\n\nFINAL RESPONSE RULES:\n- Do NOT return the playbook rules as your final response.\n- Do NOT return intermediate tool outputs.\n- Wait until ALL required tools have completed.\n- Your final response must ONLY be the output from the LAST agent that ran:\n- For key_term_extraction → return the key terms extraction output\n- Do not ask follow-up questions. Return the final result immediately.\n\nWhen all required tools have been called and results are in memory,\ncompile the final output and return it immediately as your response.\nDo NOT ask follow-up questions. Do NOT wait for more input.\nThe workflow ends when you return the final result.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        5440,
        2560
      ],
      "id": "376a1db1-4bc6-472e-bfe9-d1c34dc2f44e",
      "name": "Orchestrator Agent"
    },
    {
      "parameters": {
        "toolDescription": "Fetches the contract playbook rules from the database based on contract type and stores them in shared memory. ALWAYS call this tool FIRST. Pass contract_type and intent.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "You are the Contract Playbook Agent. Your only job is to retrieve the correct \nplaybook rules for the given contract type from the database and write a clear \nstructured summary of those rules into shared memory.\n\nYOUR PROCESS:\n1. Use the fetch_playbook tool to query the contract_playbook table, filtered \n   by the provided contract_type.\n2. Write a structured summary to memory in this format:\n\n--- PLAYBOOK RULES FOR [CONTRACT_TYPE] ---\nIntent: [intent]\nRules retrieved: [count]\n\n- Rule Name: [key_term_name]\n  Label: [key_term_label]\n  Description: [key_term_description]\n  Risk Weight: [risk_weight]\n\n--- END PLAYBOOK RULES ---\n\n3. Respond with: \"Playbook loaded for [contract_type]. [N] rules stored in memory.\"\n\nRULES:\n- Do not extract terms. Do not analyze risk.\n- If no rules found, write: \"No playbook rules found for [contract_type].\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        5520,
        2784
      ],
      "id": "bb4e7bed-40b3-472f-989a-70b67bb495fa",
      "name": "contract_playbook_agent"
    },
    {
      "parameters": {
        "toolDescription": "Extracts key terms from the contract. Reads contract text and playbook rules from shared memory. Call AFTER contract_playbook_agent. No input needed.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are the Key Term Extraction Agent. Extract key terms from the contract\nusing the playbook rules stored in shared memory as your guide.\n\nYOUR PROCESS:\n1. Read memory to find:\n   a. The contract text (provided by the orchestrator)\n   b. The playbook rules (written by the Playbook Agent) — each rule has:\n      key_term_name, key_term_label, key_term_description, risk_weight\n\n2. For EACH rule in the playbook, extract its value from the contract.\n   Use key_term_name as the JSON field key (it is already snake_case).\n   Use key_term_description to understand what to look for.\n   Carry risk_weight through from the playbook rule — do not change it.\n\n3. Return ONLY this JSON structure — no other text, no markdown fences:\n{\n  \"contract_type\": \"LEASE\",\n  \"fields\": {\n    \"[key_term_name]\": {\n      \"value\": \"[extracted value, or null if not found]\",\n      \"confidence\": [0.0–1.0],\n      \"source_clause\": \"[clause ref e.g. §2.1, or null if not found]\",\n      \"risk_weight\": [integer from playbook rule]\n    }\n  }\n}\n\nRULES:\n- Use key_term_name exactly as-is from the playbook as the JSON key.\n- One entry per playbook rule — do not add or remove fields.\n- If not found: value = null, confidence = 0.0, source_clause = null.\n- Always include risk_weight exactly as it appears in the playbook rule.\n- Confidence: 0.9+ = clearly stated, 0.7–0.89 = inferred, below 0.7 = uncertain.\n- Do not score risks or add risk_flags — the downstream system handles that.\n- Return ONLY valid JSON. No explanation, no markdown, no preamble.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        5824,
        2784
      ],
      "id": "ce79542a-8394-4115-ae0b-3d8f8bcee5a4",
      "name": "key_term_extraction_agent"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Fetches all playbook rules from the contract_playbook table filtered by contract_type. Returns key_term_name, key_term_label, key_term_description, risk_weight for each row.\n\n",
        "operation": "getAll",
        "tableId": "contract_playbook",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "contract_type",
              "condition": "eq",
              "keyValue": "={{ $fromAI('contract_type', 'The contract type to fetch playbook rules for', 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        5856,
        2992
      ],
      "id": "0c9f3dd1-31cd-4963-99ef-1afee8afc205",
      "name": "fetch_playbook",
      "credentials": {
        "supabaseApi": {
          "id": "jChMBRrCeudKyisl",
          "name": "Lease Compliance Reporting"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.analyzed_at ?? $now.toISO() }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        5616,
        2976
      ],
      "id": "ee15aec4-8e7d-406d-b8c0-cc1f0dcceabe",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        5408,
        2976
      ],
      "id": "2b2b806b-583f-4bf4-a966-f7f7befdc92f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Ud6lfu4FVZ8L1pYz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7d90ba9a-649b-468e-95b5-0984450b83d8",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        4992,
        2560
      ],
      "id": "f43f29f9-4c32-452c-9088-fa7fb01265c3",
      "name": "Webhook",
      "webhookId": "845b0fa4-a210-498c-9257-ae9730253ecd",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        5952,
        2560
      ],
      "id": "8d1d2d6a-64fe-4277-8128-c89229b3c86b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst outputText = (raw.output ?? JSON.stringify(raw)).trim();\n\n// Parse agent output — strip markdown fences if present\nlet parsed;\ntry {\n  const clean = outputText.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/, '');\n  parsed = JSON.parse(clean);\n  if (Array.isArray(parsed)) parsed = parsed[0] ?? parsed;\n} catch {\n  return [{ json: { output: outputText, parse_error: true } }];\n}\n\nconst fields = parsed.fields ?? {};\nconst isMissing = (f) => !f || f.value === null || f.value === undefined || f.value === '';\n\nconst terms_found = Object.keys(fields).filter(k => !isMissing(fields[k]));\nconst terms_missing = Object.keys(fields).filter(k => isMissing(fields[k]));\n\n// Risk score derived entirely from risk_weight values the agent carried through from the playbook\nconst totalWeight = Object.values(fields).reduce((s, f) => s + (f.risk_weight ?? 0), 0);\nconst missingWeight = terms_missing.reduce((s, k) => s + (fields[k]?.risk_weight ?? 0), 0);\nconst risk_score = totalWeight > 0\n  ? Math.round(100 * (1 - missingWeight / totalWeight))\n  : 100;\n\n// Risk flags for missing fields — severity driven by risk_weight from the playbook\n// weight >= 8 → high, 5–7 → medium, < 5 → low\nconst risk_flags = terms_missing.map(key => {\n  const w = fields[key]?.risk_weight ?? 0;\n  const severity = w >= 8 ? 'high' : w >= 5 ? 'medium' : 'low';\n  return {\n    id: `missing_${key}`,\n    severity,\n    title: `${key.replace(/_/g, ' ')} not found`,\n    description: `This field was not found in the contract. ${severity === 'high' ? 'Required for IFRS 16 compliance — resolve before exporting.' : 'Verify manually.'}`,\n    field: key,\n  };\n});\n\nreturn [{\n  json: {\n    contract_type: parsed.contract_type ?? 'LEASE',\n    terms_found,\n    terms_missing,\n    risk_score,\n    analyzed_at: new Date().toISOString(),\n    fields,\n    risk_flags,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5776,
        2560
      ],
      "id": "2a041f3c-db74-4a45-9684-0dcebc0f57e5",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "contract_playbook_agent": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "key_term_extraction_agent": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "fetch_playbook": {
      "ai_tool": [
        [
          {
            "node": "contract_playbook_agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "key_term_extraction_agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "contract_playbook_agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "contract_playbook_agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "key_term_extraction_agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrator Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "any",
    "availableInMCP": true
  },
  "versionId": "7e81f14f-746d-4e73-9f3e-7b7a41f70a98",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b4a40aff06825395115fea7dd13e44d323c57aa8926575ab214be4610f8b1ad1"
  },
  "id": "OZ3ZFPr3JALBuijU",
  "tags": []
}